{% extends 'base.html' %} {% load exstra_fields %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
        >
          <h6 class="text-white text-capitalize ps-3">All Products</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Product Name
                </th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                >
                  Category
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Status
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >
                  Date
                </th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              {% for i in page_obj %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">
                        {{i.fields|get_item:'title'}}
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        price : {{i.fields|get_item:'price'}}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">
                    {{i.category.name}}
                  </p>
                  <p class="text-xs text-secondary mb-0">{{i.subcategory}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  {% if i.status == 'approved' %}

                  <span class="badge badge-sm bg-gradient-success"
                    >{{i.status}}</span
                  >
                  {% else %}
                  <span class="badge badge-sm bg-gradient-danger"
                    >{{i.status}}</span
                  >

                  {% endif %}
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold"
                    >{{i.date}}</span
                  >
                </td>
                <td class="align-middle">
                  <a
                    href="{{i.get_absolute_url}}"
                    class="text-secondary font-weight-bold text-xs"
                    data-toggle="tooltip"
                    data-original-title="Edit user"
                  >
                    Edit
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center mt-4">
            {% if page_obj.has_previous %}
            <a
              class="text-secondary font-weight-bold text-xl"
              href="?page={{ page_obj.previous_page_number }}"
              ><i class="material-icons opacity-10">arrow_back_ios</i></a
            >
            {% endif %}

            <span class="badge badge-sm bg-gradient-primary">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a
              class="text-secondary font-weight-bold text-xl"
              href="?page={{ page_obj.next_page_number }}"
              ><i class="material-icons opacity-10">arrow_forward_ios</i></a
            >
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
